
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Century Gothic', sans-serif;
    background-image:url(../img/giphy.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
  nav ul {
    background:#416186a1;
    margin-top: 20px;
    text-align: center;
    list-style: none;
    overflow: hidden;
  
  }
  
  ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
  }
  
  ul li:hover {
    background: #112d4e;
  }
  
  ul li a {
    color: rgb(98, 214, 230);
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    background: #112d4e;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }

  main{
    background: hwb(231 20% 75% / 0.767);
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
p{
  font-family: 'Courier New', Courier, monospace;
}