* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Century Gothic', sans-serif;
    background-image:url(../img/fondo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  
  nav ul {
    background:#416186a1;
    text-align: center;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
  }
  
  ul li {
    display: inline-block;
    padding: 20px;
    transition: all ease-in-out 250ms;
  }
  
  ul li:hover {
    background: #112d4e;
  }
  
  ul li a {
    color: rgb(98, 214, 230);
    text-decoration: none;
  }
  
  .hide {
    padding: 16px;
    font-size: 22px;
    background: #112d4e;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  @media (max-width: 768px) {
    ul li {
      width: 100%;
      padding: 15px;
      text-align: left;
    }
  
    .hide {
      display: block;
    }
  
    nav ul {
    display: none;
  
    }
  }
footer{
  border: 1px solid  aqua;
  text-align: center;
  margin-top: 20px;
  background-color: rgba(75, 72, 72, 0.527);
}
a{
  text-decoration: none;
}
.bi{
  margin-top: 20px;
  margin-right: 10px;
  
}
.p{
  color: beige;
}